body {
  margin: 0; }

li {
  list-style: none; }

header {
  background-image: url("../images/header.jpg");
  background-size: 100% 100%;
  background-position: top center; }

nav {
  background-color: rgba(0, 0, 0, 0.1);
  height: 72px; }

.title li {
  display: inline-block;
  border-right: 1px solid white;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 0 30px;
  font-size: 14px;
  line-height: 72px; }
  .title li a {
    color: white;
    text-decoration: none; }

.title li:last-child {
  border-right: none; }

.title {
  padding: 0;
  margin: 0;
  text-align: center; }

.sunxixi {
  height: 495px;
  text-align: center; }
  .sunxixi p {
    font-size: 22px;
    margin-top: 20px;
    color: white; }

h1 {
  margin: 0;
  padding-top: 172px;
  font-size: 80px;
  color: white;
  font-weight: bold; }

.part2 {
  background-color: #f2f2f2; }
  .part2 .part2-content {
    width: 1200px;
    margin: 0 auto;
    text-align: center; }
  .part2 .part2-1 {
    color: #6e6e6e;
    padding: 50px 0; }
    .part2 .part2-1 h2 {
      margin: 0;
      font-size: 42px; }
    .part2 .part2-1 p {
      line-height: 20px; }
    .part2 .part2-1 .black {
      color: black; }
    .part2 .part2-1 .green {
      color: #80ba8d; }
  .part2 hr {
    margin: 0;
    display: block;
    border: 0.5px solid #f3f3f3; }
  .part2 .part2-2 ul {
    margin: 0;
    padding: 0;
    width: 1200px; }
    .part2 .part2-2 ul li {
      display: inline-block;
      padding-right: 64px;
      width: 29.5%; }
      .part2 .part2-2 ul li img {
        margin-top: 80px; }
      .part2 .part2-2 ul li h3 {
        margin: 40px 0;
        color: #d6d6d6;
        font-size: 24px; }

.part2-2 p {
  margin: 0;
  color: #787878;
  font-size: 16px;
  line-height: 25px; }
.part2-2 button {
  height: 54px;
  background-color: #80ba8e;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 88px;
  margin-top: 40px;
  width: 155px; }
.part2-2 ul li:last-child {
  padding-right: 0; }

.part3-1 {
  font-size: 16px;
  margin: 0;
  padding: 50px 30px;
  background-color: #ffffff;
  margin-top: 60px;
  margin: 85px;
  padding: 0;
  white-space: nowrap; }
  .part3-1 li {
    box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    width: 50%;
    text-align: center;
    padding: 0 25px; }
  .part3-1 img {
    width: 577px;
    height: 202px;
    margin-bottom: 51px; }
  .part3-1 h3 {
    color: #6c6c6c;
    font-size: 28px;
    margin: 0; }
  .part3-1 p {
    box-sizing: border-box;
    color: #a3a3a3;
    line-height: 20px; }

.part3-2 {
  font-size: 16px;
  margin: 0;
  padding: 50px 30px;
  background-color: #ffffff;
  margin-top: 60px;
  margin: 85px;
  padding: 0;
  white-space: nowrap; }
  .part3-2 li {
    box-sizing: border-box;
    display: inline-block;
    white-space: normal;
    width: 50%;
    text-align: center;
    padding: 0 25px; }
  .part3-2 img {
    width: 577px;
    height: 202px;
    margin-bottom: 51px; }
  .part3-2 h3 {
    color: #6c6c6c;
    font-size: 28px;
    margin: 0; }
  .part3-2 p {
    box-sizing: border-box;
    color: #a3a3a3;
    line-height: 20px; }

.part4 {
  height: 300px;
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: 0px -300px;
  background-size: cover; }
  .part4 p {
    padding: 120px 200px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    color: white; }

footer {
  background-color: #161616; }
  footer h2 {
    margin: 0;
    padding-top: 71px;
    color: white;
    font-size: 42px;
    text-align: center; }
  footer .p1 {
    color: #434343;
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center; }
  footer section {
    margin: 50px 0 91px 0; }
    footer section div {
      display: flex;
      justify-content: center; }
      footer section div a {
        text-decoration: none;
        padding: 0 10px; }
  footer hr {
    margin: 0;
    display: block;
    margin: 0 auto;
    width: 1200px;
    border: 0.5px solid #424242; }
  footer .p2 {
    margin: 0;
    color: #2d2d2d;
    height: 110px;
    box-sizing: border-box;
    text-align: center;
    padding: 45px 0; }
    footer .p2 span {
      color: #424242; }

/*# sourceMappingURL=main.css.map */
